Calculator/Client/Service References/CalculatorReference/WEBCalculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Calculator.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calculator.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ZeroDivideFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZeroDivideFault" nillable="true" type="tns:ZeroDivideFault" />
  <xs:complexType name="NegativateSqrtFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NegativateSqrtFault" nillable="true" type="tns:NegativateSqrtFault" />
</xs:schema>